configuration {
    display-drun: "Applications";
    display-windows: "Windows";
    drun-display-format: "{icon} {name}";
    show-icons: true;
}

@theme "~/.cache/wal/colors-rofi-dark.rasi"
element-text, element-icon {
    background-color: inherit;
    text-color:       inherit;
}
element {
    padding: 20px;
}

listview {
    columns: 1;
    lines: 8;
}
