@import "~/.cache/wal/colors-rofi-dark.rasi"


* {
    font: "JetBrainsMono Nerd Font 12";
}

window {
    border: 2px;
    border-color: @selected-active-background;
    border-radius: 10px;
    height: 75%;
    lines: 5;
}

#element {
  padding: 10px;
  border-radius: 5px;
}

element-icon {
    size: 128px;
}


