window {
	background-color: #101226;
	border: 2px solid #B0BBE1;
	color: #c3c3c8;
}

#entry:selected {
	background-color: #B0BBE1
}

#entry {
	padding: 10px;
}

#input {
	padding: 10px;
	color: #c3c3c8;
	outline: none;
	border: none;
	box-shadow: none;
	background: transparent;
}

#input:focus {
	outline: none;
	border: none;
	box-shadow: none;
	background: transparent;
	border-image: none;
	-gtk-icon-shadow: none;
	-gtk-icon-effect: none;
}
